$colorPrimary: #0056b3; // Formal blue
$colorSecondary: #333333; // Dark gray for text
$colorBackground: #ffffff; // White background for sections
$colorLightBackground: #fafafa; // Light gray background for body
$shadow: 0 0 15px rgba(0, 0, 0, 0.1);

@mixin flexBox($direction: row, $alignItems: center, $justifyContent: flex-start, $spacing: 1rem) {
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $spacing;
}

@mixin container($maxW: 1200px, $h: 100vh, $p: 5vmax, $m: auto) {
    margin: $m;
    max-width: $maxW;
    width: 100%;
    height: $h;
    padding: $p;
}

@mixin styledText($size: 1.2rem, $weight: 400, $case: uppercase, $color: $colorSecondary, $spacing: 2px) {
    font-size: $size;
    text-transform: $case;
    font-weight: $weight;
    letter-spacing: $spacing;
    color: $color;
}

@mixin inputs {

    input,
    textarea {
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }
}

@mixin buttonStyle($bgColor: $colorPrimary, $textColor: white, $hoverColor: #003b73) {
    background-color: $bgColor;
    color: $textColor;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hoverColor;
    }
}